.content_box {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 1px 8px 16px 6px;
  width: 362px;
  height: 780px;
  min-height: 780px;
  overflow: hidden;
}
.itemImage {
}
.itemName {
  position: absolute;
  top: 370px;
  left: 200px;
  width: 201px;
  height: 27px;
  font: 600 18px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgb(12, 45, 87);
}
.description {
  position: absolute;
  top: 410px;
  right: 282px;
  bottom: 275px;
  left: 66px;
  width: 114px;
  height: 21px;
  font: 600 18px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgb(102, 102, 102);
}
.rect1 {
  position: absolute;
  top: 456px;
  right: 100px;
  bottom: 333px;
  left: 66px;
  width: 481px;
  height: 91px;
  background-color: lightgray;
  border-radius: 25px 25px 25px 25px;
}
.date {
  position: absolute;
  top: 550px;
  right: 282px;
  bottom: 275px;
  left: 66px;
  width: 114px;
  height: 21px;
  font: 600 18px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgb(102, 102, 102);
}
.rect2 {
  position: absolute;
  top: 560px;
  right: 100px;
  bottom: 275px;
  left: 266px;
  width: 250px;
  height: 31px;
  background-color: lightgray;
  border-radius: 25px 25px 25px 25px;
}
.location {
  position: absolute;
  top: 610px;
  right: 282px;
  bottom: 275px;
  left: 66px;
  width: 114px;
  height: 21px;
  font: 600 18px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgb(102, 102, 102);
}
.rect3 {
  position: absolute;
  top: 620px;
  right: 100px;
  bottom: 275px;
  left: 266px;
  width: 250px;
  height: 31px;
  background-color: lightgray;
  border-radius: 25px 25px 25px 25px;
}
.status {
  position: absolute;
  top: 670px;
  right: 282px;
  bottom: 275px;
  left: 66px;
  width: 114px;
  height: 21px;
  font: 600 18px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgb(102, 102, 102);
}
.lostFound {
  position: absolute;
  top: 694px;
  right: 282px;
  bottom: 275px;
  left: 266px;
  width: 114px;
  height: 21px;
  font: 600 18px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgb(102, 102, 102);
}
.claim {
  position: absolute;
  top: 770px;
  right: 282px;
  bottom: 275px;
  left: 250px;
  width: 114px;
  height: 21px;
  font: 600 18px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgb(102, 102, 102);
}

.BackHome {
  position: absolute;
  top: 870px;
  right: 282px;
  bottom: 275px;
  left: 50px;
}
