.itemDetailsContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-right: 2rem;
  margin-left: 2rem;
}

.itemImage {
  display: flex;
  align-items: center;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 2rem;
  border-radius: 25px 25px 25px 25px;
}

.itemName {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 400 18px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgb(12, 45, 87);
}

/* Description */
.description {
  display: flex;
  align-items: start;
  font: 400 18px/1.5 "Poppins", Helvetica, Arial, serif;
  color: #0C2D57;
}

.descriptionBox {
  height: 91px;
  background-color: #E5E5E5;
  border-radius: 25px 25px 25px 25px;
}

/* Date Location and status line */
.dateLocationStatus {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font: 400 18px/1.5 "Poppins", Helvetica, Arial, serif;
  color: #0C2D57;
}

/* Date */
.dateBox {
  width: 166.96px;
  height: 37px;
  align-items: center;
  background-color: #e5e5e5;
  border-radius: 25px 25px 25px 25px;
}

/* Location */
.locationBox {
  width: 165px;
  height: 35px;
  background-color: #e5e5e5;
  border-radius: 25px 25px 25px 25px;
}

/* Status */
.lostFound {
  justify-self: end;
  align-items: start;
  font: 400 18px/1.5 "Poppins", Helvetica, Arial, serif;
  color: #0C2D57;
}

/* Claim Button */
.claimButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.claim {
  display: flex;
  align-items: center;
  font: 400 18px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgb(102, 102, 102);
}

.button {
  background-color: #3B3486;
  /* Blue */
  color: #EFECEC;
  padding: 10px 25px;
  font: 400 18px/1.5 "Poppins", Helvetica, Arial, serif;
  cursor: pointer;
  border-radius: 25px 25px 25px 25px;
}
