.itemDetailsContainer {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  align-items: center;
  margin-right: 2rem;
  margin-left: 2rem;
}

.itemImgContainer{
  width: 197px;
  height: 157px;
  margin-bottom: 30px;
}

.itemImage {
  width: 100%;
  height: 100%;
  margin-bottom: 19px;
  margin-top: 2rem;
  border-radius: 25px;

}

.itemName {

  display: block;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    color: #0C2D57;
}


.description {

  font: 400 18px/1.5 "Poppins", Helvetica, Arial, serif;
  color: #0C2D57;
 
}

.descriptionBox {
  width: 281px;
  height: 91px;
  border-radius: 25px;
  border: none;
    padding: 15px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
  padding: 10px;
}

/* Date Location and status line */
.descriptionDetail {
  font: 400 18px/1.5 "Poppins", Helvetica, Arial, serif;
  color: #0C2D57;
}



/* consolidates redundant classes */
.descriptionValue {

  padding: 10px;
  margin-left: 1rem;
  color: black;
    font-family: "Quicksand", sans-serif;
}

.mapPin {
  position: absolute;
  right: 20px;
}



/* Claim Button */
.claimButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.claim {
  align-items: center;
  font: 400 18px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgb(102, 102, 102);
  
}

.button {
  background-color: #3B3486;
  /* Blue */
  color: #EFECEC;
  padding: 10px 25px;
  font: 400 18px/1.5 "Poppins", Helvetica, Arial, serif;
  cursor: pointer;
  border-radius: 25px;
  text-decoration: none;
}
