@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.signUpPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Poppins;
}

h2 {

    width: 113px;
    height: 45px;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-top: 14px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
}

.inputName,
.inputUsername,
.inputNumber,
.inputEmail,
.inputPassword {

    display: flex;
    flex-direction: column;
    background: #E5E5E5;
    border-radius: 33px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #666666;
    padding-left: 15px;
    width: 285px;
    height: 30px;
}

p {

    left: 13.07%;
    right: 13.6%;
    top: 72.26%;
    bottom: 24.29%;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #666666;
}

.signUpBtn {

    width: 165px;
    height: 42px;
    background: #3B3486;
    border-radius: 6px;
    font-family: 'Poppins';
    font-size: 25px;
    color: #FFFFFF;
    margin-top: 30px
}